<html>
    <header>
        <style>
            .center {
                width: 100%;
                text-align: center;
            }

            .border {
                width: 80%;
                margin-left: 10%;
                border: 1px solid black;
                padding: 0 20px;
                text-align: center;
            }
        </style>
    </header>
    <body>
        <div class="center">
            <b>{{ .Site.Params.Author }}</b><br />
            {{ .Site.Params.Address }}<br />
            Email: {{ .Site.Params.Email }}<br />
            Tel: {{ .Site.Params.Phone }}
        </div>
        <div class="border">{{ .Content }}</div>
        <h3>Talks</h3>
        <ul>
        {{ range $.Site.Data.talks }}
            <li>{{ dateFormat "2006" .date }} - {{ .event }} ({{ .location }}) - {{ .title.en }} (lang: {{ .language }})</li>
        {{ end }}
        </ul>
    </body>
</html>
