@font-face {
    font-family: 'Fredericka the Great';
    src: url('/fonts/FrederickatheGreat-Regular.ttf');
}

ol,
ul {
  list-style:none;
}

blockquote,
q {
  quotes:none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content:'';
  content:none;
}

ins {
  text-decoration:none;
}

del {
  text-decoration:line-through;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

:focus {
  outline:none;
}

body {
  background: #EEEEEE;
  color: #333333;
  font-size: 140%;
  font-family: "proxima-nova-1","proxima-nova-2","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#container {
  margin: 0 auto;
  padding: 50px 0 0;
}

header {
  margin: 0px 0 50px 0;
  color: #000000;
  font-size: 70px;
  font-family: 'Fredericka the Great', cursive;
  margin: 0;
  text-align: center;
  margin: 30px 0;
}

@media (min-width:500px) {
    header {
        font-size: 98px;
    }
}

header a,
header a:hover {
  color: #000000;
}

#main-content {
  margin: 0 0 50px;
}

#content-primary {
  float: left;
}

.aside {
  float: right !important;
  width: 100%;
  margin: 0 0 30px 0;
}

footer {
  margin: 0 15px;
  clear: both;
  color: #888888;
  font-size: 130%;
  border-top: 1px solid rgba(0,0,0,.1);
  padding: 15px 0 35px;
  text-align: center;
}

#top {
  width: 100%;
  height: 20px;
  background: rgba(0,0,0,.7);
  position: fixed;
  top: 0;
  padding: 15px 0;
  z-index: 9999;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}

#top-inner {
  width: 960px;
  margin: 0 auto;
}

#page,
article,
#comments,
#respond,
.aside {
  background:#fff;
  position:relative;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.2);
  -moz-box-shadow:0 1px 3px rgba(0,0,0,0.2);
  box-shadow:0 1px 3px rgba(0,0,0,0.2);
}

#page,
article,
#comments {
  margin:0 0 30px;
}

#comments,
#respond,
.aside {
  padding:30px;
}

article img {
  max-width: 100%;
}

article footer {
  border-top:1px dotted #ddd;
  padding:20px 30px 23px;
  margin:0;
}

article footer p {
  color:#999;
  margin:0;
}

article .txt {
  padding:30px 30px 0;
}

article .date {
  width:50px;
  height:50px;
  background:rgba(249,101,73,0.8);
  color:#fff;
  text-align:center;
  position:absolute;
  top:-25px;
  padding:15px;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  border-radius:60px;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}

article footer {
  text-align: left;
}

@media (min-width:840px) and (max-width: 991px) {
  article .date {
    left:-50px;
  }
}

@media (min-width:1055px) {
  article .date {
    left:-50px;
  }
}

article .date .day,
article .date .year {
  font-size: 145%;
  text-shadow:0 1px 0 rgba(0,0,0,0.15);
}

#page .txt {
  padding:30px;
}

.comments {
  padding:30px 0 0;
}

.comments li {
  min-height:80px;
  margin:0 0 50px;
}

.comments .c-header {
  height:30px;
  line-height:30px;
  position:relative;
  border-bottom:1px solid #ddd;
  margin:0 0 6px;
}

.comments p {
  margin:0 0 15px;
}

.avatar {
  width:60px;
  height:60px;
  position:relative;
  float:left;
  margin:2px 20px 5px 0;
}

.c-nr a,
.c-reply a {
  width:15px;
  height:15px;
  color:#fff;
  text-align:center;
  text-shadow:0 1px 0 rgba(0,0,0,0.15);
  line-height:1em;
  position:absolute;
  left:-50px;
  margin:0;
  padding:10px;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  border-radius:60px;
}

.c-nr a {
  background:rgba(249,101,73,0.8);
  top:0;
}

.c-reply a {
  background:rgba(166,216,83,0.8);
  top:26px;
}

.c-nr a:hover,
.c-reply a:hover {
  color:#fff;
}

.c-nr a:hover {
  background:rgba(249,101,73,1);
}

.c-reply a:hover {
  background:rgba(166,216,83,1);
}

.c-meta {
  margin:0;
}

.c-author {
  font-weight:bold;
}

.c-txt {
  margin:0 0 0 80px;
}

#respond {
  background:#fef5bd;
  margin:0 0 30px;
}

#c-form p {
  line-height:38px;
  margin-bottom:10px;
}

#c-form label {
  font-weight:600;
}

#c-form input {
  width:380px;
  background:none;
  float:right;
  border:0;
  border-bottom:2px solid rgba(0,0,0,.3);
  margin-right:50px;
  padding:5px;
}

#c-form input:focus,
#c-form textarea:focus {
  background:rgba(255,255,255,1);
}

#c-form textarea {
  width:370px;
  background:rgba(255,255,255,.7);
  float:right;
  border:0;
  margin:10px 50px 20px 32px;
  padding:10px;
}

#c-form #form-info {
  clear:both;
}

#c-form #form-submit input {
  width:170px;
  background:rgba(0,0,0,.8);
  color:#fff;
  float:none;
  margin-left:340px;
  padding:5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color:#222;
  font-weight:normal;
  margin:0 0 .75em;
}

h1,
h2,
h3,
#sp {
  font-size:28px;
}

h4 {
  font-size:22px;
}

h5,
h6 {
  font-size:18px;
}

.aside h2 {
  font-size:16px;
}

a {
  color:#f96549;
  text-decoration:none;
}

a:hover {
  color:#999;
}

a img {
  border:0;
}

.aside a {
  color:#777;
}

h1 a,
h2 a,
h3 a {
  color:#222;
}

#top a {
  color:rgba(255,255,255,.7);
}

#top a:hover {
  color:rgba(255,255,255,.9);
}

#footer a {
  color:#888;
}

p {
  margin:0 0 1.5em;
}

.aside p {
  color:#666;
}

p.last {
  margin:0;
}

.rm {
  white-space:nowrap;
}

ul,
ol,
li {
  list-style:none;
}

.aside ul,
article ul,
article ol,
#page ul {
  margin:0 0 1.5em;
  padding:0 0 0 20px;
}

.aside li,
article li,
#page li {
  list-style:circle;
  margin:0 0 8px;
}

article ol li {
  list-style:decimal;
  margin:0 0 8px;
}

#top ul {
  float:left;
}

#top li {
  display:inline;
  margin:0 20px 0 0;
}

.t-img {
  -webkit-border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
}

img.full-width {
  margin:0 -30px;
}

.photo img {
  border:1px solid #ddd;
  margin:10px 0;
  padding:2px;
}

.right-photo {
  float:right;
  margin:0 0 0 1em;
}

.right-photo img {
  display:block;
}

.img-border {
  border:1px solid #ddd;
  padding:2px;
}

.img-left-border {
  float:left;
  border:1px solid #ddd;
  margin:0 1em 0 0;
  padding:2px;
}

.img-right-border {
  float:right;
  border:1px solid #ddd;
  margin:0 0 0 1em;
  padding:2px;
}

.img-left,
img.alignleft {
  float:left;
  margin:0 1em 0 0;
}

.img-right,
img.alignright {
  float:right;
  margin:0 0 0 1em;
}

.alignleft {
  float:left;
}

.alignright {
  float:right;
}

pre {
  background:#f5f5f5;
  border:1px solid #dadada;
  border-width:1px 0;
  white-space:pre;
  white-space:pre-wrap;
  white-space:pre-line;
  word-wrap:break-word;
  margin:1.5em -30px 1.75em;
  padding:20px 30px;
}

pre,
code {
  font:15px 'andale mono','lucida console',monospace;
}

#s {
  width:269px;
  background:rgba(0,0,0,.3) url(images/search.png) 7px 5px no-repeat;
  float:right;
  border:1px solid #555;
  margin:-1px 0 0;
  padding:3px 7px 7px 24px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  -webkit-box-shadow:inset 0 3px 3px rgba(0,0,0,.1);
  -moz-box-shadow:inset 0 3px 3px rgba(0,0,0,.1);
  box-shadow:inset 0 3px 3px rgba(0,0,0,.1);
}

#s:focus {
  background-color:#fff;
  border:1px solid #eee;
}

#breadcrumbs {
  background:rgba(0,0,0,.05);
  border:1px solid #ccc;
  margin:-25px 15px 40px 15px;
  padding:10px 30px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
}

.clear {
  clear:both;
}

.clearthis {
  clear:both;
  margin:0 0 1em;
}

.clearfix:after {
  height:0;
  display:block;
  visibility:hidden;
  clear:both;
  content:".";
}

.clearfix {
  display:inline-block;
}

.clearfix {
  display:block;
}


/* Navbar */
.navbar {
    background: rgba(0,0,0,.7);
    border: 0;
}
