<!DOCTYPE html>
<html lang="{{ .Site.Params.LanguageCode }}">
    <head>
        <meta charset="utf-8" />
        <title>Fabio Alessandro Locati</title>
        <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="canonical" href="{{ .Permalink }}" />
        <link rel="next" href="/page/2/" />
        <link rel="icon" href="/img/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
        <meta property="og:locale" content="{{ .Site.Params.locale }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Fabio Alessandro Locati" />
        <meta property="og:url" content="{{ .Permalink }}" />
        <meta property="og:site_name" content="Fabio Alessandro Locati" />
        <link rel="alternate" type="application/rss+xml" title="Fabio Alessandro Locati - Posts" href="/index.xml" />
    </head>
    <body class="home blog">
        <div id=container class="container nopadding">
            <header class="center"><a href="/"><object id="svg1" data="/img/logo.svg" type="image/svg+xml"></object></a></header>
