<!DOCTYPE html>
<html lang="{{ .Site.Params.LanguageCode }}">
    <head>
        <meta charset="utf-8" />
        <title>Fabio Alessandro Locati</title>
        <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <link rel="stylesheet" href="/css/bootstrap-3.3.4.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="canonical" href="{{ .Permalink }}" />
        <link rel="next" href="/page/2/" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta property="og:locale" content="{{ .Site.Params.locale }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Fabio Alessandro Locati" />
        <meta property="og:url" content="{{ .Permalink }}" />
        <meta property="og:site_name" content="Fabio Alessandro Locati" />
        <link rel="alternate" type="application/rss+xml" title="Fabio Alessandro Locati - Posts" href="/index.xml" />
    </head>
    <body class="home blog">
        <div id=container class="container nopadding">
            <header class="center"><a href="/">Fabio Alessandro Locati</a></header>
