            <aside id="leftbar" class="col-md-4">
                <div class="aside">
                    <h5>Languages</h5>
                    <ul>
                        {{ if eq .Site.Params.LanguageCode "it" }}
                            <li><b>Italiano</b></li>
                            {{ if .Params.en }}
                                <li><a href="http://fabiolocati.net/{{ .Params.en }}">Inglese</a></li>
                            {{ end }}
                        {{ end }}
                        {{ if eq .Site.Params.LanguageCode "en" }}
                            {{ if .Params.it }}
                                <li><a href="http://fabiolocati.it/{{ .Params.it }}">Italian</a></li>
                            {{ end }}
                            <li><b>English</b></li>
                        {{ end }}
                    </ul>
                </div>
            </aside>
