            <aside id="leftbar" class="col-md-4">
                <div class="aside">
                    <h2>Languages</h2>
                    {{ if eq .Site.Params.LanguageCode "it" }}
                        <a class="list-group-item disabled"><b>Italiano</b></a>
                        <a class="list-group-item" href="http://fabiolocati.net/">Inglese</a>
                    {{ end }}
                    {{ if eq .Site.Params.LanguageCode "en" }}
                        <a class="list-group-item" href="http://fabiolocati.it/">Italian</a>
                        <a class="list-group-item disabled"><b>English</b></a>
                    {{ end }}
                </div>
                <div class="aside">
                    <h2>Pages</h2>
                    <a class="list-group-item" href="/">Home</a>
                    <a class="list-group-item" href="/about">About</a>
                </div>
                <div class="aside">
                    <h2>Social Networks</h2>
                    <a class="list-group-item fa fa-facebook" href="https://www.facebook.com/fabiolocati">Facebook</a>
                    <a class="list-group-item fa fa-google-plus" href="https://www.google.com/+FabioAlessandroLocati">Google Plus</a>
                </div>
                <div class="aside">
                    <h2>Categories</h2>
                    {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                        <a class="list-group-item" href="/categories/{{ $name | urlize }}">{{ $name }}</a>
                    {{ end }}
                </div>
                <div class="aside">
                    <h2>Tags</h2>
                    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                        <a class="list-group-item" href="/tags/{{ $name | urlize }}">{{ $name }}</a>
                    {{ end }}
                </div>
            </aside>
