            <aside id="leftbar" class="col-md-4">
                <div class="aside">
                    <h5>Languages</h5>
                    <ul>
                        {{ if eq .Site.Params.LanguageCode "it" }}
                            <li><b>Italiano</b></li>
                            <li><a href="http://fabiolocati.net/">Inglese</a></li>
                        {{ end }}
                        {{ if eq .Site.Params.LanguageCode "en" }}
                            <li><a href="http://fabiolocati.it/">Italian</a></li>
                            <li><b>English</b></li>
                        {{ end }}
                    </ul>
                </div>
            </aside>
