{{ partial "header.html" . }}

<div class="row">
    <div class="col-lg-8">

        <article class="single well" itemscope="itemscope" itemtype="http://schema.org/Article">
            <meta itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" content="{{ .Site.BaseURL }}"/>
            <meta itemprop="dateModified" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">
            <meta itemprop="headline" content="{{ .Title }}">
            <meta itemprop="description" content="{{ .Summary }}">
            <meta itemprop="url" content="{{ .Permalink }}">
            <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <meta itemprop="url" content="{{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.jpg{{ end }}" />
                <meta itemprop="width" content="800">
                <meta itemprop="height" content="800">
            </div>
            <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                    <meta itemprop="url" content="{{ .Site.BaseURL }}images/logo.jpg">
                    <meta itemprop="width" content="100">
                    <meta itemprop="height" content="100">
                </div>
                <meta itemprop="name" content="{{ .Site.Title }}">
            </div>
            <div itemprop="author" itemscope itemtype="https://schema.org/Person">
                <meta itemprop="name" content="{{ .Site.Params.Author }}">
            </div>
            <header class="article-header">
                <h1>{{ .Title }}</h1>
                {{ if not .Date.IsZero }}
                <time itemprop="datePublished" pubdate="pubdate" datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}"><i class="fa fa-clock-o"></i> Posted on {{ .Date.Format "January 2, 2006" }}</time>
                {{ end }}
            </header>

            <!-- <img class="img-responsive" src="http://placehold.it/710x230" alt=""> -->
            <p>{{ .Content }}</p>

            <h3>Talks</h3>
            <ul>
            {{ range $.Site.Data.talks }}
                <li>{{ dateFormat "2006" .date }} - {{ .event }} ({{ .location }}) - {{ .title.en }} (lang: {{ .language }})</li>
            {{ end }}
            </ul>
        </article>

    </div>
    {{ partial "sidebar.html" . }}
</div>
{{ partial "footer.html" . }}
