RewriteEngine on

RewriteCond %{HTTP_HOST} fabioalocati.it$ [NC]
RewriteCond %{REQUEST_URI} !^/css
RewriteCond %{REQUEST_URI} !^/img
RewriteCond %{REQUEST_URI} !^/it
RewriteRule ^(.*)$ /it/$1 [L]

RewriteCond %{HTTP_HOST} fabioalocati.net$ [NC]
RewriteCond %{REQUEST_URI} !^/css
RewriteCond %{REQUEST_URI} !^/img
RewriteCond %{REQUEST_URI} !^/en
RewriteRule ^(.*)$ /en/$1 [L]
