<aside class="col-md-4">

    <div class="well">
        <h4>Latest posts</h4>
        <ul class="list-unstyled">
        {{ range first 10 .Site.Pages }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
        </ul>
    </div>

    {{ range $key, $value := .Site.Taxonomies }}
    <div class="well">
        <h2>{{ $key | singularize }}</h2>
        <ul class="list-unstyled">
        {{ range first 10 $value.ByCount }}
            <li><a href="{{ $.Site.BaseURL}}{{ $key }}/{{ .Name | urlize }}">{{ .Name }}</a></li>
        {{ end }}
        </ul>
    </div>
    {{ end }}

</aside>
